[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
